:root {
    --font-size: 12px;
    --code-font: "Source Code Pro", monospace;
    --dim: #aaa;
    --bright: #ddd;
    --brighter: #fff;
    --dark: #444;
    --darker: #111;
    --background-col: #212331;
    --content-block-col: #2a2d3d;
    --output-colour: #5b6079;
    --input-colour: #1f2127;
    --input-text-colour: #ddd;
    --colour1: #d19999;
    --colour12: #ffcbcb;
    --colour2: #d1b499;
    --colour3: #d1cb99;
    --colour4: #a4d199;
    --colour5: #99cdd1;
    --colour6: #bb99d1;
    --colour7: #d199bc;
    --colour-b0: #cccccc;
    --colour-b1: #ff8989;
    --colour-b2: #ffbe89;
    --colour-b3: #d9db6b;
    --colour-b4: #87e67b;
    --colour-b5: #89fff9;
    --colour-b6: #8b94e2;
    --colour-b7: #bc89ff;
    --colour-b8: #e97fe0;
    --colour-d0: #555555;
    --colour-d1: #804444;
    --colour-d2: #926d4f;
    --colour-d3: #7e8040;
    --colour-d4: #487942;
    --colour-d5: #45807d;
    --colour-d6: #3a3e66;
    --colour-d7: #563d75;
    --colour-d8: #63365f;
    --colour-dev-0: #2c2d35;
}

h1 {
    font-size: 36px;
    text-align: center;
    letter-spacing: 3px;
    color: #f3f3f3;
    text-shadow: 0 0 5px #ffffff;
}

h2 {
    color: var(--bright);
    text-align: center;
    margin: 2px 10px 10px 10px;
}

h3 {
    margin: 10px 0px 5px 0px;
}

body {
    font-size: var(--font-size);
    background: var(--background-col);
    color: #a3a3a3;
}

button {
    font-size: var(--font-size);
    /* top: 50%; */
    background-color: var(--colour-b6);
    color: var(--darker);
    /* border: 1px solid; */
    border-top: 0px;
    /* border-left: 2px solid var(--dim);
    border-top: 2px solid var(--dim);
    border-bottom: 2px solid var(--dark);
    border-right: 2px solid var(--dark); */
    border: none;
    margin: 5px;
    box-shadow: 0px 0px 2px 2px var(--darker);
    border-radius: 3px;
    transition-duration: 0.2s;
}

button:hover {
    background-color: var(--colour-d6);
    color: var(--brighter);
}

ul {
    list-style-image: url('./general-file-icon.png')
}

textarea {
    font-size: var(--font-size);
    background-color: var(--input-colour);
    color: var(--input-text-colour);
    border-radius: 5px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgb(94, 94, 94);
    outline: 1px solid rgb(70, 70, 70);
}

input {
    background-color: var(--input-colour);
    color: var(--input-text-colour);
    border-radius: 5px;
    margin: 5px 0px 5px 10px;
    border: 1px solid var(--dim);
}

figure {
    margin: 0;
}

.content-block-container {
    display: flex;
    flex-wrap: wrap;
}

.content-block {
    background: var(--content-block-col);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px #1d1e29;
}

.directory-management {
    display: flex;
}

.path {
    padding: 3px 10px 5px 10px;
    color: var(--bright);
    /* border: 1px solid; */
    background-color: var(--output-colour);
    border-radius: 5px;
}

.path:empty:before {
    content: "\200B";
}

.update-css-btn {
    background-color: var(--colour-dev-0);
    box-shadow: none;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.update-css-btn:hover {
    background-color: var(--colour-dev-0);

}

.directory-buttons {
    list-style-image: url('./folder-icon.png')
}

.directory-buttons button {
    display: flex;
    background-color: var(--colour-b1);
}

.directory-buttons button:hover {
    background-color: var(--colour-d1);
}

.yaml-list-item {
    color: var(--colour-b3);
}

.yaml-buttons {
    list-style-image: url('./yaml-file-icon.png');
}

.yaml-buttons button {
    background-color: var(--colour-b3);
}

.yaml-buttons button:hover {
    background-color: var(--colour-d3);
}

.topostats-interactions button {
    background-color: var(--colour-b4);
    text-align: center;
    margin: 30px 0px 20px 0px;
    width: 100%;
    font-weight: bold;
    padding: 10px;
}

.topostats-interactions button:hover {
    background-color: var(--colour-d4);
}

.topostats-status-container {
    justify-content: space-evenly;
}

.topostats-status-inner {
    margin: 0px 10px 0px 0px;
}

.image-output-header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-size-display {
    padding: 3px 10px 5px 10px;
    color: var(--bright);
    background-color: var(--output-colour);
    border-radius: 5px;
    margin: auto 0px auto 10px;
}

.image-output-header-section h2 {}

.image-output-header-section button {
    /* padding: 0px 0px 0px 0px; */
    margin: auto 0px auto 0px;
    background-color: var(--colour-b2);
}

.image-output-header-section button:hover {
    background-color: var(--colour-d2);
}

.image-grid-item {
    margin: 0;
    padding: 0;
    /* justify-content: center;
    align-items: center; */
    background: #353535;
    color: #ffffff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    border-radius: 4px;
    transition: all 100ms;

    /* background-size: cover; */
    /* background-position: center;
    background-repeat: no-repeat; */
}

.image-grid-item img {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.image-grid-item:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px, 0.35em, 1.175em, rgba(2, 8, 20, 0.08) 0px, 1.175em, 0.5em;
    transform: translateY(-3px) scale(2);
}

.image-grid-container {
    display: grid;
    gap: 10px;

    /* 1fr means 1 fractional unit, ie one part of the available space. */
    /* auto-fit calculates the number of rows and columns on the fly */
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px))
}

#topostats-latest-log {
    background-color: var(--output-colour);
    color: var(--dim);
    width: 100%;
    min-width: 100%;
}

#config-file-editor {
    margin: 10px 0px 0px 0px;
    color: var(--colour-b3);
    min-width: 100%;
    width: 100%;
    bottom: 0;
    resize: both;
}