{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} topostats unofficial front-end{% endblock %}</h1>

<button class="update-css-btn" onclick="updateCSS()">Update CSS</button>

<script>
    function updateCSS() {
        // Get the current version number from the CSS file path
        let css = document.querySelector('#my-css');
        let version = parseInt(css.href.split('=')[1]);

        // Increment the version number and update the CSS file path
        version++;
        css.href = `../static/style.css?v=${version}`;
    }
</script>
{% endblock %}


{% block content %}
<script>
    function display_directories(current_path, requested_dir) {

        current_path = String(current_path)
        requested_dir = String(requested_dir)

        console.log('sending AJAX request. current_path: ' + current_path + ' requested_dir: ' + requested_dir);

        // send AJAX request to server with the requested information
        $.ajax({
            url: "{{ url_for('file_explorer.get_data') }}",
            type: 'POST',
            data: JSON.stringify({ 'current_path': current_path, 'requested_dir': requested_dir }),
            contentType: "application/json",
            dataType: "json",
        }).done(function (response) {
            console.log('successfully retrieved data: ' + response);
            current_path = response.current_path
            set_current_path(current_path);
            console.log('directories: ' + response.directories)

            $('#directory-buttons').html('')
            for (let i = 0; i < response.directories.length; i++) {
                directory = response.directories[i];
                console.log('creating button for directory: ' + directory);
                let button = $('<button>').addClass('directory-btn').attr('current_path', current_path).attr('directory', directory).text(directory);
                let li = $('<li>').append(button);
                $('#directory-buttons').append(li);
            }

            $("#file-list").html('')
            for (let i = 0; i < response.files.length; i++) {
                file = response.files[i];
                console.log('creating file item for file: ' + file);
                let list_item = $('<li>').addClass('file-list-item').text(file);
                $('#file-list').append(list_item)
            }

            $("#yaml-buttons").html('')
            for (let i = 0; i < response.yaml_files.length; i++) {
                yaml_file = response.yaml_files[i];
                console.log('creating yaml file item and button for file: ' + yaml_file);
                let list_item = $('<li>').addClass('yaml-list-item');
                list_item.append(document.createTextNode(yaml_file))
                list_item.append($('<button>').addClass('yaml-btn').attr('current_path', current_path).attr('yaml_file', yaml_file).text('Set as config file'));
                $('#yaml-buttons').append(list_item)
            }

        }).fail(function () {
            console.log('failed to retrieve data from server')
        }).always(function () {
            console.log('always run')
        });

    }

    function set_input_directory(current_path) {
        current_path = String(current_path);
        $("#current-input-directory").text(current_path);
    }

    function set_output_directory(current_path) {
        current_path = String(current_path);
        $("#current-output-directory").text(current_path);
    }

    function set_config_file(current_path, yaml_file) {
        current_path = String(current_path);
        yaml_file = String(yaml_file);
        config_full_path = String(current_path + "/" + yaml_file);
        console.log("setting config file to: " + config_full_path);
        $('#current-config-file').text(config_full_path)
        load_config_file()
    }

    function create_directory(current_path, directory_name) {
        $.ajax({
            url: " {{ url_for('file_explorer.create_directory') }} ",
            type: 'POST',
            data: { 'current_path': current_path, 'directory_name': directory_name },
        }).done(function (response) {
            console.log('successfully created directory');
            display_directories(current_path, "");
        }).fail(function () {
            console.log('failed to create directory');
        });
    }

    function create_config_file(current_path, config_file_name) {
        $.ajax({
            url: " {{ url_for('file_explorer.create_config_file') }} ",
            type: 'POST',
            data: { 'current_path': current_path, 'config_file_name': config_file_name },
        }).done(function (response) {
            console.log('successfully created config file');
            display_directories(current_path, "");
        }).fail(function () {
            console.log('failed to create a config file');
        });
    }

    function load_config_file() {
        config_file_path = $("#current-config-file").text()
        console.log("loading config file: " + config_file_path)

        // send AJAX request to server with the requested information
        $.ajax({
            url: "{{ url_for('file_explorer.load_config') }}",
            type: 'POST',
            data: { 'config_file_path': config_file_path },
        }).done(function (response) {
            console.log('successfully retrieved config file data: ' + response);
            config = response
            console.log('config: ' + config)

            // Load the config into the text edit field
            $('#config-file-editor').val(config);

        }).fail(function () {
            console.log('failed to retrieve config from server')
        }).always(function () {
            console.log('config retrieve always run')
        });

    }

    function update_config_file(config) {
        config_file_path = $("#current-config-file").text()
        console.log("updating config file: " + config_file_path)

        // send AJAX request to server with the requested information
        $.ajax({
            url: "{{ url_for('file_explorer.update_config') }}",
            type: 'POST',
            data: { 'config_file_path': config_file_path, 'config': config },
        }).done(function (response) {
            console.log('successfully updated config file data: ' + response);
        }).fail(function () {
            console.log('failed to get server to update config')
        }).always(function () {
            console.log('config update always run')
        });

    }

    // Render images in output directory
    function display_output_images() {
        output_path = get_output_path();
        if (output_path) {
            $("#images").html("");
            if (output_path) {
                console.log('sending render images request to server')
                $.ajax({
                    url: "{{ url_for('file_explorer.render_images') }}",
                    type: 'POST',
                    data: { 'output_path': get_output_path() },
                }).done(function (response) {
                    console.log('successfully received response from render images request');
                    console.log(response)

                    $("#image-grid-container-container").html('');
                    for (let i = 0; i < response.length; i++) {
                        console.log('iterating through response. i: ' + String(i));
                        console.log('response[i]: ' + String(response[i]));

                        let directory = response[i].directory;
                        console.log('directory: ' + directory);
                        $("#image-grid-container-container").append($("<h2>").text("path: " + directory));
                        $("#image-grid-container-container").append($("<br>"));
                        let images_with_captions = response[i].image_list;

                        console.log('new image grid')
                        let image_grid = $("<div>").addClass('image-grid-container');
                        for (let j = 0; j < images_with_captions.length; j++) {
                            let image_grid_item = $("<div>").addClass('image-grid-item')
                            let figure = $("<figure>")
                            let image = images_with_captions[j].image
                            let caption = images_with_captions[j].caption
                            console.log('new image: ' + caption)
                            let img_element = $("<img>").addClass('summary-image').attr('src', 'data:image/png;base64,' + image)
                            let figcaption = $("<figcaption>").text(caption)
                            figure.append(img_element)
                            figure.append(figcaption)
                            image_grid_item.append(figure);
                            image_grid.append(image_grid_item);
                        }

                        $("#image-grid-container-container").append(image_grid);

                    }

                }).fail(function () {
                    console.log('failed to get response from render images request')
                });
            }
        }
        else {
            alert('an output directory must be set to search for output images');
        }
    }

    function get_current_path() {
        return $("#current-path").text();
    }
    function set_current_path(current_path) {
        $("#current-path").text(current_path);
    }
    function get_output_path() {
        return $("#current-output-path").text()
    }
    function set_output_path(path) {
        $("#current-output-path").text(path);
        display_output_images()
    }
    function get_input_path() {
        return $("#current-input-path").text()
    }
    function get_config_path() {
        return $("#current-config-file").text()
    }
    function set_topostats_status(status) {
        $("#topostats-status").text(status)
    }
    function get_topostats_status() {
        return $("#topostats-status").text();
    }

    $(document).ready(function () {
        //  Add click event listener to the directory buttons
        // This is needed since we can't have simple click event
        // checkers for dynamically created buttons
        $('#directory-buttons').on('click', 'button', function () {
            // Get the directory from the clicked button
            console.log('button pressed!');
            let requested_dir = $(this).attr('directory');
            let current_path = $(this).attr('current_path');
            console.log('button directory: ' + requested_dir);
            console.log('button current path: ' + current_path);

            display_directories(current_path, requested_dir);

        });

        // Add click event listener to the yaml button
        $('#yaml-buttons').on('click', 'button', function () {
            // Get the directory from the clicked button
            console.log('yaml button pressed!');
            let requested_yaml = $(this).attr('yaml_file');
            let current_path = $(this).attr('current_path');
            console.log('yaml button yaml_file: ' + requested_yaml);
            console.log('yaml button current path: ' + current_path);
            set_config_file(current_path, requested_yaml);
        });

        $('#directory-back-btn').click(function () {
            console.log('back button pressed')
            let current_path = get_current_path();
            let requested_dir = '..';
            display_directories(current_path, requested_dir);
        });

        $('#directory-create-btn').click(function () {
            console.log('create directory button press');
            current_path = get_current_path();
            directory_name = $('#create-directory-name').val();
            $('#create-directory-name').val('');
            console.log('create directory name: ' + directory_name);
            if (directory_name) {
                create_directory(current_path, directory_name);
            }
            else {
                alert('A directory name needs to be specified to create a directory');
            }
        });

        $('#create-config-file-btn').click(function () {
            console.log('create config file button press');
            current_path = get_current_path();
            config_file_name = $('#create-config-file-name').val();
            $('#create-config-file-name').val('');
            console.log('create config file name: ' + config_file_name);
            if (config_file_name) {
                create_config_file(current_path, config_file_name);
            }
            else {
                alert('A config file name needs to be specified to create a config file');
            }
        })

        // Add click event listener to input / output directory buttons
        $('#set-input-directory-btn').click(function () {
            current_path = get_current_path();
            $("#current-input-path").text(current_path);
        });
        $('#set-output-directory-btn').click(function () {
            current_path = get_current_path();
            set_output_path(current_path);
        });

        $('#run-topostats-btn').click(function () {

            input_path = get_input_path()
            output_path = get_output_path()
            config_path = get_config_path()

            if (input_path && output_path && config_path) {
                console.log('running topostats...');
                $.ajax({
                    url: "{{ url_for('file_explorer.run_topostats') }}",
                    type: 'POST',
                    timeout: 1000000,
                    data: { 'config_file_path': config_path, 'input_path': input_path, 'output_path': output_path },
                }).done(function (response) {
                    console.log('started running topostats');
                    set_topostats_status("Running topostats...");
                    $("#topostats-status").css({ "color": "yellow" })
                }).fail(function () {
                    set_topostats_status("Failed to start running topostats. Check javascript and flask console logs.");
                    $("#topostats-status").css({ "color": "red" })
                    console.log("run topostats returned with a failure");
                })
            }
            else {
                alert("need input, output and config file paths to be set before running topostats");
            }
        });

        $("#refresh-image-output-btn").click(function () {
            display_output_images();
        });


    });

    // Connect to socket
    console.log('connecting to socket')
    let socket = io.connect('http://' + document.domain + ":" + location.port);

    // Listen for messages from the server
    socket.on('topostats finished', (data) => {
        // handle the data
        console.log('topostats finished!');
        console.log('log:');
        console.log(data);
        $("#topostats-latest-log").text(data);
        display_output_images();
        set_topostats_status("TopoStats Finished");
        $("#topostats-status").css({ "color": "#87e67b" })
        let notification_sound = new Audio("../../static/notification.mp3");
        notification_sound.play();
    });

    socket.on('config file created', (data) => {
        console.log('config file created');
        display_directories(get_current_path(), "");
    });

</script>



<div class="content-block-container">


    <div class="content-block" id="file-explorer">
        <h2>File Explorer</h2>


        <div class="directory-box">
            <h3 class="directory-header">Current Path:</h3>
            <div id="current-path" class="path"></div>
        </div>
        <br>

        <button id="set-input-directory-btn">Set as input directory</button>
        <button id="set-output-directory-btn">Set as output directory</button>

        <br>

        <script>
            display_directories()
        </script>

        <div id="directory-management" class="directory-management">
            <button id="directory-back-btn">back</button>
            <input type='text' id='create-directory-name' size='10'>
            <button id="directory-create-btn">create directory</button>
            <input type="text" id="create-config-file-name" size="10">
            <button id="create-config-file-btn">create config file</button>
        </div>

        <div class="file-explorer-output">
            <div>
                <ul id="directory-buttons" class="directory-buttons">

                </ul>
            </div>
            <div>
                <ul id="file-list" class="file-list">

                </ul>
            </div>
            <div>
                <ul id="yaml-buttons" class="yaml-buttons">

                </ul>
            </div>
        </div>
    </div>


    <div class="content-block">
        <h2>Config editor</h2>

        <h3>Current config file:</h3>
        <div class="path" id="current-config-file"></div>

        <textarea id="config-file-editor" spellcheck="false"></textarea>
        <script>
            const textArea = document.getElementById('config-file-editor');
            textArea.addEventListener('input', function () {
                let config_file_path = $("#current-config-file").text();
                if (config_file_path) {
                    const updatedConfig = textArea.value;
                    // send updatedConfig to Flask server
                    console.log('file ' + String(config_file_path) + ' edited');
                    update_config_file(updatedConfig);
                }
            });
        </script>
    </div>

    <div class="content-block">

        <h2>Run TopoStats</h2>

        <h3 class="directory-header">Input path</h3>
        <div id="current-input-path" class="path"></div>

        <h3 class="directory-header">Output path</h3>
        <div id="current-output-path" class="path"></div>

        <div class="topostats-interactions">
            <button id="run-topostats-btn">Run TopoStats</button>
        </div>

        <div class="topostats-status-container">
            <div class="topostats-status-inner"><b>TopoStats status:</b></div>
            <div class="topostats-status-inner" id="topostats-status">Not yet run</div>
        </div>


        <h3>Latest TopoStats log</h3>
        <textarea readonly id="topostats-latest-log" spellcheck="false">topostats has not been run yet</textarea>

    </div>

</div>

<div class="content-block">
    <div class="image-output-header-section">

        <button id="refresh-image-output-btn">Force refresh output images</button>

        <h2>Output images</h2>

        <div class="slider-container">
            <h3>Image size</h3>
            <input type="range" min="100" max="800" value="200" class="slider" id="image-size-slider"
                onchange="update_image_size(this.value);">
            <div class="image-size-display" id="image-size-display"></div>
        </div>

        <script>
            $("#image-size-display").text($("#image-size-slider").val());
            function update_image_size(size) {
                console.log("image slider value changed: " + size);
                $("#image-size-display").text(size);
                $(".image-grid-container").each(function (index, element) {
                    element.style.gridTemplateColumns = `repeat(auto-fit, minmax(${size}px, ${size}px))`;
                });

            }
        </script>
    </div>

    <div id="image-grid-container-container" class="image-grid-container-container">
    </div>
</div>

{% endblock %}