{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} header (from index) {% endblock %}</h1>
{% endblock %}


{% block left %}
<script>
    function display_directories(current_path, requested_dir) {

        current_path = String(current_path)
        requested_dir = String(requested_dir)

        console.log('sending AJAX request. current_path: ' + current_path + ' requested_dir: ' + requested_dir);

        // send AJAX request to server with the requested information
        $.ajax({
            url: "{{ url_for('file_explorer.get_data') }}",
            type: 'POST',
            data: JSON.stringify({ 'current_path': current_path, 'requested_dir': requested_dir }),
            contentType: "application/json",
            dataType: "json",
        }).done(function (response) {
            console.log('successfully retrieved data: ' + response);

            current_path = response.current_path

            console.log('directories: ' + response.directories)
            $('#directory-buttons').html('')
            // Add back button
            let button = $('<button>').addClass('directory-btn').attr('current_path', current_path).attr('directory', '..').text('..');
            $('#directory-buttons').append(button)
            for (let i = 0; i < response.directories.length; i++) {
                directory = response.directories[i];
                console.log('creating button for directory: ' + directory);
                let button = $('<button>').addClass('directory-btn').attr('current_path', current_path).attr('directory', directory).text(directory);
                $('#directory-buttons').append(button)
            }

            $("#file-list").html('')
            for (let i = 0; i < response.files.length; i++) {
                file = response.files[i];
                console.log('creating file item for file: ' + file);
                let list_item = $('<li>').addClass('file-list-item').text(file);
                $('#file-list').append(list_item)
            }

            $("#yaml-list").html('')
            for (let i = 0; i < response.yaml_files.length; i++) {
                yaml_file = response.yaml_files[i];
                console.log('creating yaml file item and button for file: ' + yaml_file);
                let list_item = $('<li>').addClass('yaml-list-item');
                list_item.append(document.createTextNode(yaml_file))
                list_item.append($('<button>').addClass('yaml-btn').attr('current_path', current_path).attr('yaml_file', yaml_file).text('Set as config file'));
                $('#yaml-buttons').append(list_item)
            }

        }).fail(function () {
            console.log('failed to retrieve data from server')
        }).always(function () {
            console.log('always run')
        });

    }

    function set_config_file(current_path, yaml_file) {
        current_path = String(current_path);
        yaml_file = String(yaml_file);
        config_full_path = String(current_path + "/" + yaml_file);
        console.log("setting config file to: " + config_full_path);
        $('#current-config-file').text(config_full_path)
        load_config_file()
    }

    function load_config_file() {
        config_file_path = $("#current-config-file").text()
        console.log("loading config file: " + config_file_path)


        // send AJAX request to server with the requested information
        $.ajax({
            url: "{{ url_for('file_explorer.load_config') }}",
            type: 'POST',
            data: { 'config_file_path': config_file_path },
        }).done(function (response) {
            console.log('successfully retrieved config file data: ' + response);
            config = response
            console.log('config: ' + config)

            // Load the config into the text edit field
            $('#text-area').val(config);

        }).fail(function () {
            console.log('failed to retrieve config from server')
        }).always(function () {
            console.log('config retrieve always run')
        });

    }

    function update_config_file(config) {
        config_file_path = $("#current-config-file").text()
        console.log("updating config file: " + config_file_path)

        // send AJAX request to server with the requested information
        $.ajax({
            url: "{{ url_for('file_explorer.update_config') }}",
            type: 'POST',
            data: { 'config_file_path': config_file_path, 'config': config },
        }).done(function (response) {
            console.log('successfully updated config file data: ' + response);
        }).fail(function () {
            console.log('failed to get server to update config')
        }).always(function () {
            console.log('config update always run')
        });
    }

</script>
<script>
    $(document).ready(function () {
        //  Add click event listener to the update button
        $('#directory-buttons').on('click', 'button', function () {
            // Get the directory from the clicked button
            console.log('button pressed!');
            let requested_dir = $(this).attr('directory');
            let current_path = $(this).attr('current_path');
            console.log('button directory: ' + requested_dir);
            console.log('button current path: ' + current_path);

            display_directories(current_path, requested_dir);

        });
    });
</script>
<script>
    $(document).ready(function () {
        // Add click event listener to the update button
        $('#yaml-buttons').on('click', 'button', function () {
            // Get the directory from the clicked button
            console.log('yaml button pressed!');
            let requested_yaml = $(this).attr('yaml_file');
            let current_path = $(this).attr('current_path');
            console.log('yaml button yaml_file: ' + requested_yaml);
            console.log('yaml button current path: ' + current_path);
            set_config_file(current_path, requested_yaml);
        });
    });
</script>

<h3>file explorer</h3>

current path: {{ current_path }}

<br>

<script>
    display_directories()
</script>

<div id="directory-buttons">
    directory buttons div
</div>
<div>
    <ul id="file-list">

    </ul>
</div>
<div>
    <ul id="yaml-buttons">

    </ul>
</div>

{% endblock %}



{% block right %}

<h3>config editor</h3>

current config file:
<div id="current-config-file"></div>

<textarea id="text-area"></textarea>

<script>
    let config_file_path = $("#current-config-file").text()

    const textArea = document.getElementById('text-area');
    textArea.addEventListener('input', function () {
        if (config_file_path) {
            const updatedConfig = textArea.value;
            // send updatedConfig to Flask server
            console.log('file ' + String(config_file_path) + ' edited');
            update_config_file(updatedConfig);
        }
    });
</script>


{% endblock %}

{% block content %}
content block

info passed in:
{{ info }}
{% endblock %}