<!DOCTYPE html>
<title>{% block title %}{% endblock %}</title>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"> -->
<link id="my-css" rel="stylesheet" href="../static/style.css?v=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
    integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        console.log('connecting to socket')
        let socket = io.connect('http://' + document.domain + ":" + location.port);
    });
</script>
<!-- <nav>
    <h1>navigation</h1>
    <ul>
        <li>link 1</li>
        <li>link 2</li>
        <li>link 3</li>
    </ul>
</nav> -->
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>

    <!-- ERROR MESSAGES -->
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <!-- END ERROR MESSAGES -->



    <!-- MAIN CONTENT -->

    <div class="block container">
        <div class="block left-block">

            {% block left %}
            {% endblock %}

        </div>

        <div class="block right-block">

            {% block right %}
            {% endblock %}

        </div>
    </div>

    <!-- END MAIN CONTENT -->
    <script>
        window.onbeforeunload = function () {
            return "Are you sure you want to reload? If you reload the page, you'll lose where you are and will have to reload directories and configs.";
        }
    </script>
</section>